@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  background-color: #fff;
}

nav {
  position: fixed;
  width: 349px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-shadow: 1px 10px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: #8525ff;
}

.sidebar {
  gap: 30px;
}

.nav-item {
  background-color: #8525ff;
  font-size: 18px;
  border-radius: 11px;
  padding: 0 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.nav-item:hover,
.nav-item:active {
  background-color: rgba(133, 37, 255, 0.5);
}

.nav-option:link,
.nav-option:visited {
  color: #fff;
}

header {
  position: fixed;
  width: 100vw;
  padding: 10px;
  height: 9vh;
  left: 15%;
  box-shadow: 10px 1px 11px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
}

.profile {
  margin-left: 70vw;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.dropdown-toggle {
  background-color: #8525ff;
}

main {
  position: fixed;
  top: 9vh;
  left: 15%;

  width: 100vw;
  height: 100vh;
  padding: 20px;

  background-color: #ddd;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.account-settings {
  display: flex;
  justify-content: start;
  padding: 10px;
  transform: translate(-10%, 0);
  gap: 10px;
}

#foto {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown {
  z-index: 999;
}

.Teks-bawah {
  background-color: #fff;
  width: 90%;
  height: 370px;
  text-align: center;
  border-radius: 5px;
}

.Teks-bawah h1 {
  font-weight: 800;
}

.Teks-bawah p {
  text-align: start;
  transform: translate(5%, 0);
}
