@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-shadow: 1px 10px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: #8525ff;
}

.sidebar {
  gap: 30px;
}

.nav-item {
  background-color: #8525ff;
  font-size: 18px;
  border-radius: 11px;
  padding: 0 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.nav-item:hover,
.nav-item:active {
  background-color: rgba(133, 37, 255, 0.5);
}

.nav-option:link,
.nav-option:visited {
  color: #fff;
}

header {
  position: relative;
  width: 100vw;
  height: 85px;
  padding: 10px;
  left: 280px;
  box-shadow: 10px 1px 11px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
}

.profile {
  margin-left: 70vw;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.dropdown-toggle {
  background-color: #8525ff;
}

main {
  position: relative;
  left: 285px;

  min-width: 1200px;

  padding: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.notes {
  position: relative;
  left: 7%;

  /* display: flex;
  flex-wrap: wrap;
  gap: 20px; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 30px;
  row-gap: 40px;
}

.note {
  background-color: #f0f0f0;

  padding: 10px;
  width: auto;
  height: auto;
  margin-top: 30px;
  transform: translate(-10%, 0);

  border: 1px solid #ccc;
  border-radius: 11px;

  display: flex;
  flex-direction: column;
}

textarea {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  left: 0;
  width: 785px;
  height: 350px;
}

h2 {
  color: #ddd;
  text-align: start;
}

.add {
  position: fixed;
  bottom: 10%;
  left: 95%;
  transform: translateX(-50%);
  padding: 1px 4px;
  background-color: #8525ff;
  color: white;
  border: none;
  cursor: pointer;
}

.title-area,
.note-area {
  resize: none;
  width: 35vw;
}

.title-area {
  height: 50px;
}

.note-area {
  height: 80px;
}
