@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  background-color: #fff;
  overflow: hidden;
}

nav {
  position: fixed;
  width: 349px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-shadow: 1px 10px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: #8525ff;
}

.sidebar {
  gap: 30px;
}

.nav-item {
  background-color: #8525ff;
  font-size: 18px;
  border-radius: 11px;
  padding: 0 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.nav-item:hover,
.nav-item:active {
  background-color: rgba(133, 37, 255, 0.5);
}

.nav-option:link,
.nav-option:visited {
  color: #fff;
}

header {
  position: fixed;
  width: 100vw;
  padding: 10px;
  height: 9vh;
  left: 15%;
  box-shadow: 10px 1px 11px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  z-index: 1;
}

.profile {
  margin-left: 70vw;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.dropdown-toggle {
  background-color: #8525ff;
}

main {
  position: fixed;
  top: 9vh;
  left: 15%;

  width: 100vw;
  height: 100vh;
  padding: 20px;

  background-color: #ddd;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.content {
  margin: 10px 30px;
}

.upload {
  width: 400px;
  height: 275px;
  /* margin: 20px; */
  background-color: #f0f0f0;
  /* padding: 20px; */
  border-radius: 11px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.upload input {
  margin: auto 50%;
}

.upload-column button {
  background-color: #8525ff;
  border-radius: 5%;
  border: none;
  justify-content: center;
}

.upload-column h2 {
  color: #9e9999;
}

.add {
  position: absolute;
  bottom: 18%;
  left: 78%;
  transform: translateX(-50%);
  padding: 1px 4px;
  background-color: #8525ff;
  color: white;
  border: none;
  cursor: pointer;
}
